In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn

In [3]:
# checking pandas version

print(pd. __version__)

1.4.4

In [4]:
# importing dataset

!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-20 12:24:57--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8002::154, 2606:50c0:8000::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8002::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: 'laptops.csv.1'

laptops.csv.1       100%[===================>] 291.58K  --.-KB/s    in 0.04s

2024-09-20 12:24:57 (6.39 MB/s) - 'laptops.csv.1' saved [298573/298573]

In [5]:
pd.set_option('display.max_columns', 100)

In [6]:
df = pd.read_csv('laptops.csv')

In [7]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [9]:
df['Brand'].value_counts()

Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Primux                8
Deep Gaming           8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: Brand, dtype: int64

In [10]:
# checking how many different laptop brands i have

df['Brand'].describe()

count     2160
unique      27
top       Asus
freq       415
Name: Brand, dtype: object

In [11]:
# checking price for Dell laptops

dell_price = df[df['Brand'] == 'Dell']

In [12]:
max_price = dell_price['Final Price'].max()

In [13]:
max_price

3936.0

In [14]:
# checking to find the median value of Screen

median_screen = df['Screen'].median()
median_screen

15.6

In [15]:
# finding the most frequent value in the 'Screen' column

most_frequent_screen = df['Screen'].mode()[0]
most_frequent_screen

15.6

In [16]:
# filling missing values in the 'Screen' column with the most frequent value

df['Screen'].fillna(most_frequent_screen, inplace=True)

In [17]:
# re checking the median value of updated Screen

new_median_screen = df['Screen'].median()
new_median_screen

15.6

### Calculating the weight of Innjoo laptops

In [18]:
innjoo_laptops = df[df['Brand'] == 'Innjoo']

In [19]:
# selecting only the columns RAM, Storage, Screen

X = innjoo_laptops[['RAM', 'Storage', 'Screen']].values

In [20]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX

XTX = np.dot(X.T, X)

In [21]:
# Compute the inverse of XTX

XTX_inv = np.linalg.inv(XTX)

In [23]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100]

y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [24]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

w = np.dot(XTX_inv, np.dot(X.T, y))

In [25]:
# What's the sum of all the elements of the result?

sum_w = np.sum(w)
sum_w

91.29988062995545